@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pinyon+Script&family=Sorts+Mill+Goudy:ital@0;1&family=Vollkorn+SC:wght@400;600;700;900&display=swap');

:root {
    --text: #3e051e;
    --background: #fffdf1;
    --accent: #6a9f35;
    --white: #ffffff;
    --font-text: "PT Serif";
    --font-display: "Sorts Mill Goudy";
    --font-sc: "Vollkorn SC";
    --font-hand: "Pinyon Script";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    perspective: 50cm;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text);
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
}

#hero-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: url("https://images.pexels.com/photos/2589457/pexels-photo-2589457.jpeg");
    overflow: hidden;
    align-items: center;
    animation: hero-parallax both;
    animation-timeline: view();
    animation-timing-function: linear;

    .title {
        font-weight: 400;
        color: var(--white);
        font-family: var(--font-display);
        line-height: 0.9em;
        text-shadow:
            #0008 0 0 100px,
            #0004 0 0 20px;
    }

    #title-container {
        width: 100%;
        padding: 10vw;
        transform-style: preserve-3d;
    }

    #title1 {
        font-size: 10vw;
        padding-top: 5vw;
        font-style: italic;
    }

    #title2 {
        font-size: 18vw;
        letter-spacing: 0.1em;
    }

    #title3 {
        font-size: min(5rem, 6vw);
        font-family: var(--font-sc);
        text-align: right;
    }
}

@keyframes hero-parallax {
    from {
        background-position: center bottom;
        background-size: max(200vw, 200vh);
    }

    to {
        background-position: center top;
        background-size: max(150vw, 150vh);
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;

    img {
        animation: img-shrink both;
        animation-timeline: view();
        object-fit: cover;
    }

    .text {
        margin: 2rem none;
        width: min(90vw, max(60vw, 30rem));
        animation: text-fade both;
        animation-timeline: view();
        
        h1 {
            font-family: var(--font-sc);
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }

        b {
            color: var(--accent);
        }
    }
}

@keyframes img-shrink {
    from {
        width: calc(100vw - 4rem);
        height: calc(100vh - 4rem);
        object-position: left top;
        border-radius: 0;
        filter: brightness(0.5);
    }

    to {
        width: min(90vw, max(60vw, 30rem));
        height: 60vh;
        object-position: right bottom;
        border-radius: 1rem;
        filter: none;
    }
}

@keyframes text-fade {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.end {
    border-top: 1px solid var(--text);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;

    .end-text {
        width: min(90vw, max(75vw, 30rem));

        h1 {
            font-family: var(--font-sc);
        }

        textarea {
            width: 100%;
            height: calc(min(90vw, max(75vw, 30rem)) * 2 / 3);
            border: none;
            padding: 2rem;
            margin: 3rem 0;
            background-image: url("https://www.publicdomainpictures.net/pictures/490000/velka/pergament-papier-hintergrund-textur-1675508658pDH.jpg");
            background-size: cover;
            color: #000;
            font-size: 3rem;
            font-family: var(--font-hand);
            box-shadow: #0008 0 0 80px;
            transition: cubic-bezier(0.5, 0, 0.5, 1) 0.5s;

            &:focus {
                outline: none;
            }

            &::-webkit-textfield-decoration-container {
                display: none;
            }

            &.sent {
                transform: translateX(100vw);
            }
        }
    }

    button {
        border: none;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        background-color: var(--accent);
        color: var(--background);
        border-radius: 999px;
        align-self: center;
        transition: cubic-bezier(0, 0.5, 0.5, 1) 0.2s;

        &:hover {
            outline: 2px solid var(--accent);
            color: var(--accent);
            background-color: var(--background);
            transform: scale(1.1);
        }
    }
}